@import "theme";

.w {
  width: 1220px;
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.active {
  color: #c81623;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  *zoom: 1
}

.header-box + div {
  margin-top: 20px;
  padding-bottom: 50px;
}
.header-box.fixed + div {
  margin-top: 90px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.layout-container {
  min-height: 400px;
  background: #E6E6E6;
}

.gray-box {
  border-radius: 8px;
}

.icon-btn {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  padding: 0;
}

.cry-notify.el-notification {
  background-color: $color-bg;
  border: 0;
  box-shadow: 3px 3px 5px $color-shadow, -3px -3px 5px white;
  z-index: 10!important;
  .el-notification__content{
    color: #3aaf00;
    margin: 0;
    line-height: 24px;
    text-shadow: $text-shadow;
    font-weight: bolder;
  }
}

.text-primary{
  color: #ff6347;
  &:hover{
    color: #ff6347;
  }
  &:focus{
    color: #ff6347;
  }
}
