@import "theme";

.el-button, .el-input__inner, .el-textarea__inner {
  border: 0;
  outline: 0;
  border-radius: 24px;
  background-color: transparent;
}

.el-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 50px;
}

.el-input__inner::-webkit-input-placeholder, .el-textarea__inner::-webkit-input-placeholder {
  color: #a9a9a9;
}

.el-input__inner:-moz-placeholder, .el-textarea__inner:-moz-placeholder {
  color: #a9a9a9;
}

.el-input__inner::-moz-placeholder, .el-textarea__inner::-moz-placeholder {
  color: #a9a9a9;
}

.el-input__inner:-ms-input-placeholder, .el-textarea__inner:-ms-input-placeholder {
  color: #a9a9a9;
}

.el-input__inner, .el-textarea__inner {
  box-shadow: inset 2px 2px 5px $color-shadow, inset -2px -2px 10px $color-white;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
}

.el-input__icon {
  text-shadow: $text-shadow;
}

.el-form-item__error {
  margin-left: 15px;
}

.el-button {
  color: #61677C;
  box-shadow: -5px -5px 10px $color-white, 5px 5px 10px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  text-shadow: $text-shadow;

  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
    color: #61677C;
    background-color: $color-bg;
  }

  &:focus {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
    color: #61677C;
    background-color: $color-bg;
  }

  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
}
.el-button--primary{
  color: #ff6700;
  &:hover {
    color: #ff6700;
  }

  &:focus {
    color: #ff6700;
  }

  &:active {
    color: #ff6700;
  }
}
/*计数器*/
.el-input-number__decrease, .el-input-number__increase {
  background: transparent;
}


/*drawer*/
.el-drawer {
  background-color: $color-bg;
}

/*table*/
.el-table, .el-table__expanded-cell{
  background-color: transparent;
}
.el-table th, .el-table tr{
  background-color: transparent;
}
.el-table td, .el-table th.is-leaf{
  border-bottom: 1px solid #f3f6ff;
}
.el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color: transparent;
}
.el-message-box{
  background:$color-bg;
}
.el-message-box__btns{
  .el-button{
    width: 80px;
    height: 30px;
  }
}
