// 背景
$color-bg: #EBECF0;
// 背光阴影
$color-shadow: #BABECC;
// 向光阴影
$color-white: #FFF;
$color-red: #AE1100;
$text-shadow: 1px 1px 0 $color-white;
$box-shadow: -5px -5px 10px $color-white, 5px 5px 20px $color-shadow;

// 头部
$head-bgc: #c0c0c0;

$mall-name:#ff9800





